Hello <% @user.name %>,

Here is your temporary password.

  Username: <%= @user.login %>
  Password: <%= @password %>

Visit the site to login and reset your password:

-- The Word Count Journal Team

Word Count Journal
  <%= @url %>