<h1>Join the WCJ Community</h1>
<p>As a WCJ member, you'll get your very own journal with special
 word counting abilities, and you'll be able to upload photos and
 start group journals with your friends.</p>

<h2>Ready to take the plunge? <span>Let's get you signed up.</span></h2>

<%= render :partial => 'signup' %>